<% if @customer.errors.present? %>
  <ul>
    <% @customer.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @customer, url: sign_up_path, html: {  role: "form", class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %> 
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit 'Sign Up', :class => "btn btn-default"%>
<% end %>

<form method="GET" action="/log_in">
  <button type="link" class="btn btn-default">Already have an account?</button>
</form>
