<% @page_title = "Products" %>
<h1><b><%= @page_title %></b></h1>

<% if logged_in? %>
	<h3>Welcome <%= current_customer.name %></h3>
<% end %>

<div id="cart" class="well" style="display: none"></div>

<div class="container">
	<div class="row">
		<% @products.each do |product| %>
			<div class="col-md-6">
				<a href=#>
					<p style="width:469px;height:469px;"><img src="<%= product.url %>"/></p>
					<h4><%= product.name %></h4>
				</a>
				<p><%= number_to_currency product.price %>
					Added <%= time_ago_in_words product.created_at %> ago
				</p>
				<p>
				<%= button_to "Add to Cart", add_to_cart_path(product), :class => "btn btn-default add_to_cart" %>
				</p>
			</div>
		<% end %>
	</div>
</div>

<% if logged_in? %>
	<%= button_to "Log Out", log_out_path, method: 'post', :class => "btn btn-default" %>
<% else %>
 	<%= button_to "Log In", log_in_path, method: 'get', :class => "btn btn-default" %>
<% end %>
